# Node
node_modules
frontend/node_modules
backend/node_modules
whatsapp-bot/node_modules
dist
frontend/dist

# Environment
.env
*.env
frontend/.env
backend/.env
whatsapp-bot/.env

# Python
venv
rasa/.venv
__pycache__
*.pyc

# IDE & OS
.vscode
.DS_Store

# Rasa
rasa/.rasa/
results/

# WhatsApp Bot
whatsapp-bot/.wwebjs_cache/
whatsapp-bot/.wwebjs_auth/
whatsapp-bot/qr.html
session/
