# Node
node_modules
frontend/node_modules
dist
frontend/dist

# Environment
.env
frontend/.env

# Python
venv
backend/venv
__pycache__

# VSCode
.vscode

# Rasa
backend/.rasa/

#whatsapp
whatsapp-bot/.wwebjs_cache/
whatsapp-bot/.wwebjs_auth/
whatsapp-bot/.wwebjs_auth
session/